*{
  box-sizing: border-box;
  padding:0px;
  padding-left: 0px;
  margin: 0px;
}
.searchname{
  background-color: #fff;
  width: 220px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.search{
  margin-top: 100px;
}
.search-ul a{
  color: black;
}
.searchname span{
  background-color: #00C341;
  padding-left: 2px;
  padding-right: 2px;
}
.hide-seachComponent{
  margin-top: -30px;
}
.highlightedname{
  width: 10px;
 color: blue;
  width: fit-content;
}
.search-ul{
  margin-top: 10px;
display: flex;
flex-direction: column;
gap: 4px;
}
body{
  background-color: #EAFFEE;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  
  }
.content-container{
  margin-top: -100px;
}
.no-display{
  display: none;
}

/* header */
.header--text{
  background-image:  url(/images/fruits.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px;

}
.main-content{
  margin-top: -90px;
}
.header--text h1{
 margin-top: 120px;
  font-size: 2vw;
}
h1{
  margin-top: 37px;
  margin-right: 10px;
}
.cart::-webkit-scrollbar{
  width: 0px;
}
.cart{
  background: white;
  height: 500px;
  overflow-y: auto;
  display: flex;
  gap: 15px;
  align-content: center;
  margin-bottom: -30px;
} 
.the-cart{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
}
.cart h2,.productOpen-h2{
  padding-left: 10px;
  font-size: 35px;
  font-weight: 100;
  font-family: cursive;
  color: #00C341;
}
.productOpen-h2{
  padding-left: 0px;
}
.cart p{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.cart-item{
  width: 250px;
  border: 1px solid #00C341;
  border-radius: 10px;
  padding-top:15px ;
  padding-bottom: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}
.cart-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-btn,.remove-item-btn{
  height:27px ;
  padding: 5px;
  color: white;
  background-color: #1edc5d;
  border: 0px;
  border-radius: 3px;
}
.remove-item-btn{
  display: flex;
  gap: 5px;
  align-items: center;
}
li{
  list-style: none;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, rgb(61, 247, 19),#1edc5d);
  padding-bottom: 15px;
  transition: all 0.5s;
  padding-top: 15px;
  margin: 0px;
  padding-right: 20px;
width: 100%;
}
.nav ul{
  display: flex;
  list-style: none;
  list-style: none;
  align-items: center ;
  
}
.nav > input{
  border-radius: 100px;
  height: 45px;
  text-indent: 10px;
  width: 40%;
  border: none;
  color: white;
  background-color: #353333;
  opacity: .5;
padding-right: 15px;
}

.nav > input::placeholder {
  color: white;
  opacity: 3;
  font-size: 1rem;
}

.nav a{
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
nav a:hover{
  color:#00C341;
}
.quick-links{
  display: inline-flex;
  margin-top: 10px;
  width: 24%;
}
.links{
  cursor: pointer;
}
.logo{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  font-weight:700;
  font-size: 17.3684px;
  color: #fff;
  margin-top: -30px;
}
.options{
  display: none;
}
.h-logo{
  margin-right: 6px;
  margin-top: 30px;
}
.header--text{
  font-weight: bolder;
  font-size: 35.6667px;
  text-align: center;
  color: #fff;
  margin-top: 90px;
}
.header--text h1{
  font-size:4vw;
}
a{
  color: white;
  text-decoration: none;
}

.green{
  color:#00C341;
}
.header--btn{
  padding: 13px 45px;
  background-color: #00C341;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
/*loading style*/

.loading{
  margin: auto;
  color: #00C341;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  border-style: dotted ;
  border-width: 10px;
  animation: rotation 3s infinite;
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}
/* first */
.product-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  gap: 20px;
}
.products h1{
  margin-left: 16px;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 100;
  font-family: cursive;
  color: #00C341;
}

.product-link{
  color: #011D07;
  text-align: center;
}
.product-details{
  display: flex;
  flex-wrap: wrap;
justify-content: center;
margin-top: 40px;
}
.productDescription-col1{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  padding-left: 10px;
}
.productDescription-col1 h2{
text-align: left;
margin-top: 20px;
font-size: 30px;
}
.product-photo{
  width: 300px;
  height: 250px;
  }

.qp{
  margin-top: 10px;
display: flex;
justify-content: left;
gap: 50px;

}
.qp p{
  width: 100px;
 padding-left: 0px;
 padding-right: 0px;
}
.amount{
margin-top: auto;
margin-bottom: auto;
border:1px solid #00C341;
width: 80px;
height: 35px;
text-align: center;
padding-top: 8px;
border-radius: 8px;
}
.addBtn{
  width: 250px;
  height: 35px;
  border-width: 0px;
  border-radius: 7px;
  background-color: #00C341;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.productDescription-col2{
  display: flex;
  flex-direction: column;
width: 50%;
}
.product-description{
  padding-left: 0px;
  text-align: left;
  width: 80%;
}
.white-background img {
  margin-top: -60px;
  border-radius: 50px;
  position: absolute;
  width: 70px;
  height: 70px;
  text-align: center;
}

.white-background{
  background-color:#EAFFEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 10px 0;
  width: max-content;
  margin-bottom: 20px;
}
dl{
  text-align: left;
}
dt{
  width: 60%;
}
dd li{
  margin-left: 15px;
  list-style:disc ;
}
#firstrow{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
padding: 10px;
}

#firstrow section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 154.14px;
  height: 102.94px;
  padding: 12px;
  background-color: white;
  border-radius: 4.59px;
}
#firstrow section div .like-btn{
  margin-left: -120px;
  margin-top: 5px;
  position: absolute;
  width: 20px;
  height: 15px;
  background-color: white;
  background-image: url(./images/Vector.png);
  background-size: 13px;
  background-position:center;
  background-repeat: no-repeat;
  border: none;
}
#blue{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#blue section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  padding: 10px 0;
}
#blue section div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-to-cart-btn{
  padding: 6px;
  background-color: #00C341;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
}

#firstrow h2, #firstrow h3 {
  font-size: 1rem;
  font-weight: 200;
} 
/* first */
.card-img-top{
position: relative;
width: 114.8px;
height: 114.8px;
}

.card-body{
position: absolute;
width: 184.14px;
height: 101.94px;
background: #FFFFFF;
border-radius: 4.59199px;
}

.btn-primary{
position: absolute;
width: 60px;
height: 23px;
/* style: none; */
background: #00C341;
border-radius: 7px;
}
.card-body a{
width: 50px;
height: 13px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 9.82525px;
line-height: 13px;
color: #EAFFEE;
}


.btn-primary{
  position: absolute;
  width:114.8px ;
  height: 114.8px;
  /* style:none; */
  

}
.service{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
}
p{
  padding-left: 100px;
  padding-right: 107px;
  font-size: 20px;
}
.yellow{
  display: flex;
  flex-wrap:wrap ;
  justify-content:space-evenly;
  width:100%;
  gap: 10px;
 
}
h2{
  margin-top: 10px;
  text-align: center;
}
.more{
  margin-top: 20px;
  margin-left: 60px;
  width:108.73px;
  height:53.55px;
  border-color: #011D07;
  border-width: 0.73px;
  border-radius: 21.9px;
  padding: 5px;
  background-color: #8FE2A2;
  font-size: 21.9px;
  color:#FFFFFF;
  line-height: 29.87px;
  font-weight: 400;
}
.h-service{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 70px;
  margin-bottom: 60px;
}
.track{
  margin-top: 40px;
  width: 200px;
  margin-left: 150px;
}
.tractor{
  width: 402px;  
  position: absolute; 
  margin-left: -260px;
}
.circles{
  margin-left: 0px;  
  margin-bottom: 40px;
}
.yellow-circle{
width: 250px;
margin-top: -30px;
}
.purple-circle{
  position: absolute;
  margin-top: -60px;
  margin-left:0px;
}
.red-circle{
  margin-top: -200px;
  margin-left: 150px;
  position: absolute;
}
.track-paragraph{
  height: 200px;
  width: 60%;
  text-align: left;
  margin-top: 0px;
 padding-left: 60px;
}
section{
  width:260.87px ;
  border: 0px;
  border-radius: 6.84px;
  height: 360px;
  background-color: #fff;
  padding: 10px;
  padding-top: 20px;
}
.lift{
  margin-top: 24px;
  margin-left: 20px;
}
.machines{
  margin-left: 10px;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 30px;
  background-color:#011D07;
  padding-bottom: 20px;
}
footer span{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 45px;
  color: #FFFFFF;
}
.footer-links{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.footer-div{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 70px;
  width: 110%;
  padding-left: 30px;
  
}
.footer-links a{
  line-height: 30px;  
  font-size: 14px;
  display: grid;
line-height: 20px;
}
.footer-links a:hover{
  color:#00C341;
}

.social-links{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
 
}

.social-links p{
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 14px;

}
.social-media{
  margin-right:  7px;
}
.social-media:hover{
cursor: pointer;
}
button:hover{
  cursor: pointer;
}
.selected{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.closebtn{
background-color: red;
}
.more-h2{
  margin-top: 25px;
  margin-bottom: 20px;
}
.more-products::-webkit-scrollbar{
  width: 0px;
}
.more-products{
  width:100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 10px;
}
.productInMore {
  display: flex;
  gap: 20px;
}
.productInMore img{
  margin-top: 10px;
  position: relative;
}
.productInMore button{
  display: none;
}
.productInMore .white-background div{
  background-color: #fff;
  width: 200px;
}
.productInMore .white-background{
  background-color: #fff;
  
}



/* login styles */
.signUpLogin{
  display: flex;

  align-content: center;
  margin-top: auto;
  flex-wrap: wrap;
}
.login-container{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.login-container a{
  color:#00C341;
  margin-left: 10px;
}
.img-signupLogin{
  width:50%;
  height: 20%;
}
.img-signupLogin img{
  width: 75%;
  height: 0%;
  margin-bottom: -33px;
}
.details h3{
text-align: center;
}
.type{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.type a{
  width: 100%;
  color: #011D07;
}
.type-button{
  
  border-radius: 10px;
  width: 100%;
  height: 30px;
  border-width: 0px;
  background-color: #fff;
}
.customer{
  background-color: #00C341;
}
form{
  margin-top: 15px;
  display: flex;
  flex-direction: column;

}

form input{
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.signup-btn{
  width: 100%;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  background-color: #00C341;
  color: white;
  margin-bottom: 10px;
}
.signup-section{
  width: 50%;
}
.login-message{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #00C341;
}
.wrong{
  color: red;
}
.increament_decreament{
  display: flex;
  gap: 5px;
}
.increament_decreament-container{
  display: flex;
  flex-direction: column;
}
.increament_decreament{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.increament_decreament button{
  width: 26px;
  height: 26px;
  background: #1edc5d;
  border: 0px;
  color: white;
  border-radius: 4px;
}

/*dashboard styles*/
.dashboard-nav a {
  color: #333333;
}
nav .dashboard-logo {
  color: #333333;
  display: flex;
  align-items: center;
}
.dashboard-input {
  /* outline: none; */
  background: rgba(255, 255, 255, 0.22);
  color: #adadad;
  font-size: 16px;
  padding: 7px 25px;
  /* border: 0.343565px solid #03771d; */
  border-radius: 15px;
}
.dashboard-input {
  position: relative;
}
.dashboard-search {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 15px;
  cursor: pointer;
}
.dashboard-nav {
  border-bottom: 1px solid #c4cbde;
  padding: 10px 50px;
}
.head {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.head h1 {
  font-size: 30px;
  font-weight: 400;
}
.profile-box {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 70px;
}
aside {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid #c4cbde;
  margin: 10px 0;
  max-height: 90%;
  padding: 20px 30px;
}
aside ul li {
  list-style: none;
  margin-bottom: 7px;
}
aside ul li a {
  text-decoration: none;
  color: #011d07;
  text-transform: capitalize;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 100px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  width: 60%;
}
.fund {
  background-color: #00c341;
  border: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}
.wallet-balance {
  width: 100%;
  background: linear-gradient(93.88deg, #00c341 -1.8%, #00ff85 79.43%);
  margin-top: 40px;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.edit-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  border-bottom: 1px solid #c4cbde;
  padding-bottom: 15px;
  border: none;
}
.edit {
  background: #00c341;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}
.profile-dashboard p{
text-align: left;
padding: 0px;
font-size:15px;
padding-bottom: 10px;
}
.joined{
  margin-top: 10px;
  font-weight: 600;
}
.wallet-block p{
  padding: 0;
}
aside{
  padding: 0px;
  padding-top: 20px;
}
aside ul li {
  width: fit-content;
  display: flex;
}
aside ul li a{
  width: 160px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
}
aside ul li:hover{
 background-color: #00C341;
}
.logout-btn{
  background-color: #fff;
  width: 160px;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  border: 0px;
  font-size: 15px;
  padding-left: 16px;
}
.logout-btn:hover{
  background: #00C341;
}
.total{
  height: 35px;
  width: 200px;
  background: white;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.total span{
  font-size: larger;
  padding: 0px;
  margin: 0px;
}
.total p{
  padding-top: 5px;
  margin-top: -6px;
  width: 90px;
  border-radius: 5px;
  background: #00C341;
  margin-left: auto;
}

@media (max-width:1000px) {
  
  .social-links{
      width: 100%;
      display: flex;
      flex-wrap:nowrap ;
      margin-left: 0px;
     
  }

  .track-paragraph{
      padding: 0px;
      height: 40%;
      width: 650px;
      text-align: center;
      margin-top: 0px;
     margin-right: 0px;
  }
  .track{
      margin-left: 50px;
  }
  .login-message{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 00px;
    margin-top: 0px;
 
  }
}
@media (max-width:845px){
  .login-message{
    width: 100%;
    padding: 0px;
    margin-bottom: 00px;
    margin-top: 0px;
 
  }
 .social-links{
  display: flex;
  flex-direction: row;
  width: 100%;
 }
  .options{
      display: block;
transition: all 0.5s;
margin-right: 10px;
  }


p{
  padding: 100px;
}
.track{
  margin-left: 60px;
}
.circles{
  margin-bottom: 0px;
}
.track-paragraph{
  padding: 0px;
  height: 40%;
  width: 650px;
  text-align: center;
  margin-top: 0px;
 margin-right: 0px;
}
.red-circle{
  position: absolute;
  width: 40px;
  margin-top: -200px;
  margin-left: 150px;
 }

 .quick-links{
  margin-top: -25px;
  width: 90%;
  justify-content: space-around;
  transition: all 0.5s; 
  width: 90%;
  border-width: 0px;
  display: flex;
  height: 50px;
  display: none;
}
.show{
  display: flex;
  position: absolute;
  background: linear-gradient(to right, rgb(61, 247, 19),#1edc5d);
  opacity: 1;
  transform: translateY(80px);
  width: 100%;
  margin-left: -10px;
  padding-top: 14px;
}

.nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 70px;
 }
 .nav > input{
  width: 50%;
 }
 section{
  margin-top: 20px;
 }
 .hide{
  transform: rotate(180deg);
}
.product-photo{
  width: 90%;
}
.qp{
  gap: 20px;
}
.qp p{
  padding: 0px;
}
.product-description {
padding: 0px;
}
}


@media (max-width:555px) {
.cart{
  flex-direction: column;
  height: 700px;
}

  .wallet-block h4{
    text-align: center;
  }
  .fund-div{
    display: flex;
  }
  .fund{
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .wallet-balance{
    display: flex;
    flex-direction: column;
  }
  .img-signupLogin{
    display: none;
  }
  .signup-section{
    width: 100%;
  }
  .type{
    width: 90%;
  }
.login-container{
  width: 90%;
}
.login-container h3 a{
 margin-left: 0px;
}
.nav{
  transition: all 0s;
height: max-content;
width: 100%;
padding: 0px;
padding-bottom: 20px;
padding-left: 5px;

}
.increase{
  padding-bottom: 110px;
}
   .quick-links{
    margin-top: 10px;
    display: none;
    background: none;
    opacity: 0;
    transition: all 1s;
  }

  .show{
    opacity: 1;
    position: relative;
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -44px;    
    margin-left: auto;

  }

  .header--text h1{
      font-size:  26px;
  }
  .header--btn{
      height: 40px;
      font-size: small;
  }
.tractor{
  width: 20px;
}
  #firstrow section div{
      width:200px;
  }
  #firstrow{
      display: flex;
      justify-content: center;
      text-align: center;
  }
  footer{
      display: flex;
      flex-direction: column;
      align-content: center;
  }
  .footer-links{
      display: flex;
      flex-wrap: unset;
      flex-direction: column;
      align-content: center;
      text-align: center;
      gap: 20px;
  }
  .footer-div{
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-left: 0px;
      width: 90%;
  }
 
 .nav > input{
  width: 80%;
 }
 h1{
  font-size: larger;
 }
 .track{
  margin-left: 120px;
 }
 .tractor{
  width: 340px;
 }
 .circles{
  margin-left: -90px;
  margin-bottom: 60px;
 }
 .yellow-circle{
  margin-left: -30px;
  width: 200px;
 }
 .red-circle{
  width: 37px;
  margin-top: -0px;
  margin-left: -5px;
 }
 .purple-circle{
  width:50px;
 }
 .h-service{
  width: 100%;
 }
 p{
  padding: 20px;
font-size: 17px;
  text-align: center;
 }
 .track-paragraph{
  padding: 0px;
  text-align: center;
 }

.social-links{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.social-media{
  margin-right:  7px;
}
.service h2{
  margin-top: 20px;
  font-size: 60px;
}
.product-details{
  flex-direction: column;
  align-content: center;
}
.productDescription-col1{
  width: 100%;
  padding: 0%;
  margin-left: 0px;
}
.productDescription-col1 h2{
  text-align: center;
}
.product-photo{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
height: 300px;
}
.qp{
  width: 100%;
  gap: 30%;
  justify-content: center;
}
.productDescription-col2{
  width: 100%;
}
.productDescription-col2 h3{
  margin-top: 20px;
  text-align: center;
}
.addBtn,dt{
  margin-left: auto;
  margin-right: auto;
}

.product-description{
  margin-top: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
dt{
  width: 100%;
  padding: 7px;
}

}
